.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  background-color: red;
  color: white;
  margin-bottom: 15px;
}

.submit-button:hover {
  background-color: pink;
}

.alert-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 120px;
  border-radius: 5px;
  background-color: purple;
  color: white;
  margin-bottom: 15px;
}

.alert-button:hover {
  background-color: lavender;
}

.danger-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  background-color: blue;
  color: white;
  margin-bottom: 15px;
}

.danger-button:hover {
  background-color: cornflowerblue;
}
